<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Chart Test</title>
</head>
<script src="/node_modules/requirejs/require.js"></script>
<script src="/dist_new/requireConfig.js"></script>
<link rel="stylesheet" href="/dist_new/Component/Loader/CircleLoader/CircleLoader.css">
<body>
</body>
<script>
    requirejs(["Component/Loader/CircleLoader/CircleLoader"],function(c){
        var circleLoader = new c.CircleLoader(200,300,5)
        circleLoader.toElement()
        circleLoader.addTo(document.body)
        circleLoader.show()
        setTimeout(()=>{
            circleLoader.setProgress(20)
        },1000)
        setTimeout(()=>{
            circleLoader.setProgress(70)
        },2000)
        setTimeout(()=>{
            circleLoader.setProgress(100)
        },3000)
        setTimeout(()=>{
            circleLoader.remove()
        },6000)
        setInterval(()=>{
            circleLoader.toElement()
            circleLoader.addTo(document.body)
            circleLoader.show()
            setTimeout(()=>{
                circleLoader.setProgress(20)
            },1000)
            setTimeout(()=>{
                circleLoader.setProgress(70)
            },2000)
            setTimeout(()=>{
                circleLoader.setProgress(100)
            },3000)
            setTimeout(()=>{
                circleLoader.remove()
            },6000)
        },8000)
            
        
    })
</script>
</html>