<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Chart Test</title>
</head>
<script src="/node_modules/requirejs/require.js"></script>
<script src="/dist_new/requireConfig.js"></script>
<link rel="stylesheet" href="/dist_new/Component/MultiDataChart/LineChart/LineChart.css">
<style>
    .chart {
        transform: translate(-50%,0);
        left:50%;
    }

    section {
        text-align: center;
    }
</style>
<body>
<section>
    <content></content>
</section>
</body>
<script>
    requirejs(["./Component/MultiDataChart/LineChart/LineChart"],function(l){
        var lineChart = new l.LineChart()
        let measures = [{id:1, data:[{x:"2017/07/01 06:00",y:0},{x:"2017/07/01 10:00",y:200},{x:"2017/07/01 13:00",y:800},{x:"2017/07/01 15:00",y:390}], type:"line"},
                        {id:2, data:[{x:"2017/07/01 08:00",y:320},{x:"2017/07/01 10:00",y:800},{x:"2017/07/01 13:00",y:200},{x:"2017/07/01 16:00",y:1000}], type:"line"}]
        lineChart.loadMeasures(measures)
        lineChart.renderAt("content") 
    })
</script>
</html>