<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Chart Test</title>
</head>
<script src="/lib/requirejs/require.js"></script>
<script src="/dist_new/requireConfig.js"></script>
<link rel="stylesheet" href="/dist_new/Component/MultiDataChart/LineChart/LineChart.css">
<style>
    .chart {
        transform: translate(-50%,0);
        left:50%;
    }

    section {
        text-align: center;
    }
</style>
<body>
<section>
    <h1>Line Chart</h1>
    <content></content>
</section>
</body>
<script>
    requirejs(["./Component/MultiDataChart/LineChart/LineChart"],function(l){
        var lineChart = new l.LineChart({style:{width:"40rem",height:"30rem"}})
        let measures = [{id:1, data:[{x:0,y:0},{x:3,y:2},{x:5,y:8},{x:7,y:32}], type:"line"},
                        {id:2, data:[{x:1,y:32},{x:3,y:8},{x:5,y:2},{x:8,y:1}], type:"line"}]
        lineChart.loadMeasures(measures)
        lineChart.renderAt("content")
    })

</script>
</html>