<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Chart Test</title>
</head>
<script src="/node_modules/requirejs/require.js"></script>
<script src="/dist_new/requireConfig.js"></script>
<link rel="stylesheet" href="/dist_new/Component/SingleDataChart/DashChart/DashChart.css">
<body>
<section>
    <h1>DashPie Chart</h1>
    <content></content>
</section>
</body>
<style>
    .chart {
        transform: translate(-50%,0);
        left:50%;
    }

    section {
        text-align: center;
    }
</style>
<script>
    requirejs(["./Component/SingleDataChart/DashChart/DashChart"],function(d){
        var dashChart = new d.DashChart({style:{width:"40rem",height:"30rem"}})
        dashChart.setData(30)
        dashChart.renderAt("content")
        setInterval(function(){
            dashChart.setData(Math.random()*100)
        },2000)
    })
</script>
</html>