<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Chart Test</title>
</head>
<script src="/node_modules/requirejs/require.js"></script>
<script src="/dist_new/requireConfig.js"></script>
<link rel="stylesheet" href="/dist_new/Component/MultiDataChart/BarLineChart/BarLineChart.css">
<style>
    .chart {
        transform: translate(-50%,0);
        left:50%;
    }

    section {
        text-align: center;
    }
</style>
<body>
<section>
    <h1>BarLine Chart</h1>
    <content></content>
</section>
</body>
<script>
    requirejs(["./Component/MultiDataChart/BarLineChart/BarLineChart"],function(c){
        var barLineChart = new c.BarLineChart({style:{width:"40rem",height:"30rem"}})
        let measures1 = [{id:1, data:[{x:"2017/07/01 06:00",y:0},{x:"2017/07/01 10:00",y:2},{x:"2017/07/01 13:00",y:8},{x:"2017/07/01 16:00",y:32}]},
                        {id:2, data:[{x:"2017/07/01 06:00",y:32},{x:"2017/07/01 10:00",y:8},{x:"2017/07/01 13:00",y:2},{x:"2017/07/01 16:00",y:1}]}]
        let measures2 = [{id:3, data:[{x:"2017/07/01 06:00",y:4},{x:"2017/07/01 10:00",y:8},{x:"2017/07/01 13:00",y:6},{x:"2017/07/01 16:00",y:12}]},
                        {id:4, data:[{x:"2017/07/01 06:00",y:7},{x:"2017/07/01 10:00",y:2},{x:"2017/07/01 13:00",y:9},{x:"2017/07/01 16:00",y:3}]},
                        {id:5, data:[{x:"2017/07/01 06:00",y:3},{x:"2017/07/01 10:00",y:6},{x:"2017/07/01 13:00",y:5},{x:"2017/07/01 16:00",y:10}]}]
        barLineChart.loadMeasures(measures1,"line")
        barLineChart.addMeasures(measures2,"bar")
        barLineChart.renderAt("content")
    })

</script>
</html>